* {
    font-family: 'Quicksand', sans-serif;
}
.container{
    padding-left: 25px;
    padding-right: 25px;
}

.column-left{
    width: 800px;
}

.column-right{
    padding-left: 50px;
}

.main {
    display: flex;
}


h1 {
    height: 50px;
    left: 25px;
    top: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    color: #F9CB81;
}

.material-icons{
    color: #F9CB81;
}

.items {
    display: flex;
}

span {
    padding-top: 15px;
}

#space{
padding-left: 9px;
}



