* {
    font-family: 'Quicksand', sans-serif;
}
.container{
    padding-left: 25px;
    padding-right: 25px;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2A2C2E;
}

.column-left{
    width: 50%;
}

.column-right{
    padding-left: 50px;
    padding-top: 90px;
}

.main {
    display: flex;
    justify-content: center;
}


h1 {
    height: 50px;
    left: 25px;
    top: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    color: #F9CB81;
}

.material-icons{
    color: #F9CB81;
}

.items {
    display: flex;
}

span {
    padding-top: 15px;
}

#space {
    padding-left: 9px;
}


#align {
    display: flex;
    justify-content: space-between;
}

#header-text{
    padding-left: 20px;
}

